/* .navbar-login img {
    height: 56px;

} */

body {
    background-image: url('../../assets/images/loginPage/fondo-ingreso-registro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* font-family: 'Lato'; */
    margin: 0 !important;
}
